@keyframes accordion-down {
  from {
    height: 0;
    overflow: hidden;
  }
  to {
    height: var(--ui-collapsible-height, auto);
    overflow: hidden;
  }
}

@keyframes accordion-up {
  from {
    height: var(--ui-collapsible-height, auto);
    overflow: hidden;
  }
  to {
    height: 0;
    overflow: hidden;
  }
}
