:root {
}

.dark {
}

@theme static inline {
  --color-primary: var(--ui-primary);
  --color-secondary: var(--ui-secondary);
  --color-success: var(--ui-color-success);
  --color-info: var(--ui-color-info);
  --color-warning: var(--ui-color-warning);
  --color-error: var(--ui-color-error);
}
